{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Hello, {{ name or "Stranger" }}!</h1>
    {% if email %}
    <h2>Your email is {{ email }}</h2>
    {% endif %}
</div>

<form method="POST">
    {{ name_form.hidden_tag() }}
    {{ email_form.hidden_tag() }}

    <div class="form-group">
        <label for="name">Name:</label>
        {{ wtf.form_field(name_form.name, class="form-control", id="name") }}
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control">
        {% if email_form.email.errors %}
        <p class="text-danger">{{ email_form.email.errors[0] }}</p>
        {% endif %}
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
